@"
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Dataset besar
datasets/
outputs/


# Cache
*.cache
.cache/

# Model pretrained YOLO bawaan
yolov8n.pt
yolov8s.pt
yolov8m.pt
yolo26n.pt

# ZIP / archive
*.zip
*.rar
*.7z

# OS / IDE
.DS_Store
.vscode/
.idea/

# Roboflow
README.roboflow.txt
README.dataset.txt
"@ | Set-Content .gitignore